<!DOCTYPE html>
<html lang="en">
<head>
	<{include 'include/header.html'}>
</head>
<body>
<div class="main-container" id="main-container">
	<div class="main-content">
		<form class="form-horizontal" method="post" action="index.php?r=admin/auth-add&id=<{$userid}>" data-selector="common-form" data-jump="index.php?r=admin/index">
			<div class="checkbox">
				<{foreach $auths as $key => $vo}>
					<label>
						<input name="auth[]" class="ace" type="checkbox" value="<{$vo.name}>" <{$vo.checked}>>
						<span class="lbl"> <{$vo.description}> </span>
					</label><br>
				<{foreach $vo.child as $key => $v}>
					<label>
						<input name="auth[]" class="ace" type="checkbox" value="<{$v.name}>" <{$v.checked}>>
						<span class="lbl"> <{$v.description}> </span>
					</label>
				<{/foreach}>
				<br>
				<{/foreach}>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10 text-right">
					<button type="submit" class="btn btn-primary">提交</button>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
<{include 'include/footer.html'}>
</html>