<!DOCTYPE html>
<html lang="en">
<head>
    <{include 'include/header.html'}>
</head>
<body>
<{include 'include/common.html'}>
<div class="main-container" id="main-container">
    <{include 'include/menu.html'}>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>
            <ul class="breadcrumb">
                <li><i class="icon-home home-icon"></i><a href="index.php?r=index/index">首页</a></li>
                <li class="active"><{if $title == '首页'}>面板<{else}><{$title}><{/if}></li>
            </ul><!-- .breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <div class="table-header">管理员列表</div>
                        <div class="page-funcs">
                            <a href="index.php?r=admin/add&authAjax=1" class="btn" data-selector="calllayer-btn" data-layerheight="333px" data-layerwidth="640px" data-layertitle="新建管理员" btn-role="add">新建管理员</a>
                            <form action="index.php?r=admin/index" method="post">
                                <input type="text" placeholder="请输入标题/内容" name="keyword" value="<{$keyword}>" />
                                <button type="submit" class="btn" btn-role="search">搜索</button>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table  class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr role="row">
                                        <th>编号</th>
                                        <th>用户</th>
                                        <th>邮箱</th>
                                        <th>创建时间</th>
                                        <th>最后登录时间</th>
                                        <th>最后登录IP</th>
                                        <th>操作</th>
                                    </tr>
                                <tbody>
                                <{foreach $result as $k => $vo}>
                                    <tr>
                                        <td><{$num + $k}></td>
                                        <td><{$vo.username}></td>
                                        <td><{$vo.email}></td>
                                        <td><{$vo.created_at|date_format:"%Y-%m-%d"}></td>
                                        <td><{$vo.last_time|date_format:"%Y-%m-%d"}></td>
                                        <td><{$vo.last_ip}></td>
                                        <td>
                                            <a href="index.php?r=admin/del" class="btn btn-danger" data-selector="common-confirm-btn" data-tip="确定删除当前管理员么？" btn-role="delete" data-id="<{$vo.id}>" data-method="post">删除</a>
                                            <a class="btn btn-info" data-selector="calllayer-btn" data-layerheight="363px" data-layerwidth="640px" data-layertitle="修改管理员" btn-role="edit" href="index.php?r=admin/up&id=<{$vo.id}>&authAjax=1">修改</a>
                                            <a class="btn btn-warning" data-selector="calllayer-btn" data-layerheight="363px" data-layerwidth="640px" data-layertitle="修改【<{$vo.username}>】的权限" btn-role="edit" href="index.php?r=admin/auth-item-child&id=<{$vo.id}>&authAjax=1">权限</a>
                                        </td>
                                    </tr>
                                <{/foreach}>

                                </tbody>
                                </thead>
                            </table>
                            <div class="page-list"><{$pages}></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<{include 'include/footer.html'}>
</body>
</html>

